body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,176,166,1) 45%, rgba(24,200,183,1) 69%, rgba(255,248,0,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0%;
    margin: 0%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}   
h1 {
    font-size: 100px;

}

.btn {
    background-color: rgb(47, 240, 41);
    height: 30px;
    width: 100px;
    border-color: transparent;
    border-radius: 50px;
     
}

.btn:hover{
    cursor: pointer;
    background-color:rgb(255, 255, 255)

}
input {

height: 20px;
width: 200px;
border-style: groove;
border-color: dimgray;
text-align: right;
font-size: 20px;
font-weight: 700;
color: black;


}

.textoErro{

    color: rgb(204, 29, 29);
    font-size: 100px;
    font-weight: 500px;

}